.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0px;
    margin: 4px 0 0 0; 
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__navbar-item--has-notify:hover .header__notify{
    display: block;
}

.header__navbar-item, 
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item, 
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item--strong {
    font-weight: 500;
}

.header__navbar-item--saparate::after {
    content: "";
    display: block;
    position: absolute;
    height: 16px;
    border-left: 1px solid #FB9086;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}
.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* Header QR code */
.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
}

.header__qr::before {
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__qr-link:nth-child(1n) {
    margin-left: 11px;
}
.header__qr-link:nth-child(2n) {
    margin-right: 11px;
}

.header__qr-download-img {
    height: 15px;
}

/* Header notification */
.header__notify {
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;border: 1px solid #D3D3D3;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease-in 0.2s;
    -webkit-animation: headerNotifyGrowth ease-in 0.2s;
    -ms-animation: headerNotifyGrowth ease-in 0.2s;
    -o-animation: headerNotifyGrowth ease-in 0.2s;
    -moz-animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
    
}

.header__notify::before {
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -29px;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    height: 20px;
    right: 0;
    top: -16px;
    
} 

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
 height: 40px;
 background-color: var(--white-color);
}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
}

.header__notify-list {
 padding-left: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: rgba(238, 75, 43, 0.08);
}

.header__notify-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notify-descriotion {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756F6E;
    margin-top: 4px;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    padding: 8px 0px;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}

/* Authen modal */

.auth-form {
    width: 500px;
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--white-color);
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}

.auth-form__form {
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth__form_policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth__form_text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #f5f5f5;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials--facebook {
    color: var(--white-color);
    background-color: #3A5A98;
}

.auth-form__socials--facebook
.auth-form__socials-icon{
    color: var(--white-color);
}

.auth-form__socials-title {
    margin: 0 30px;
}

.auth-form__socials--google {
    color: #666;
    background-color: var(--white-color);
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    height: 20px;
    margin: -2px 16px 0;
    border-left: 1px solid #EAEAEA;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

/* Header with search */
.header-with-search {
    height: var(--header-with-search-height);
}

.header__logo {
    width: 200px;
}

.header__logo-img {
    width: 150px;
}